<div class="layer-panel">
  <h3>Layers</h3>
  <ul cdkDropList (cdkDropListDropped)="onDrop($event)">
    <li *ngFor="let layer of layers; let i = index" class="layer-item" cdkDrag>
      <div class="layer-left">
        <span class="layer-icon" [style.background-color]="layer.color">
          <i [class]="getIconClass(layer)"></i>
        </span>
      </div>
      <div class="layer-center">
        <span class="layer-title">{{ layer.title }}</span>
        <p class="layer-description">
          {{ getTruncatedDescription(layer.description) }}
          <a *ngIf="layer.description" [href]="getWikiLink(layer.title)" target="_blank" class="description-link">
            {{ 'for_more_info' | translate }}
          </a>
        </p>
        <i class="bi bi-download download-icon" (click)="openDownloadPopup(layer)"></i>
      </div>
      <button class="delete-button" (click)="removeLayer(i)">
        <i class="bi bi-x"></i>
      </button>
    </li>
  </ul>
</div>
<app-download-popup
  *ngIf="showDownloadPopup"
  [layer]="selectedLayer"
  (close)="closeDownloadPopup()"
  (download)="downloadLayer($event)"
></app-download-popup>